<a href="https://colab.research.google.com/github/thecuriosky/thecuriosky/blob/main/GenAI_Playground.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: write python code to sort the list based on second element of tuple - [(10,5), (15,12), (5,10), (3,3), (30,20)]

list1 = [(10,5), (15,12), (5,10), (3,3), (30,20)]

list1.sort(key = lambda x: x[1])
print(list1)

[(3, 3), (10, 5), (5, 10), (15, 12), (30, 20)]

In [ ]:
# prompt: write python code to sort the list based on second element of tuple - [(10,5), (15,12), (5,10), (3,3), (30,20)] without using lambda

def sort_by_second(elem):
  return elem[1]

list1 = [(10,5), (15,12), (5,10), (3,3), (30,20)]

list1.sort(key = sort_by_second)
print(list1)

[(3, 3), (10, 5), (5, 10), (15, 12), (30, 20)]

In [ ]:
l = [(10,5), (15,12), (5,10), (3,3), (30,20)]
sorted(l)

[(3, 3), (5, 10), (10, 5), (15, 12), (30, 20)]

In [ ]:
new_l = []
for i in l:
  new_l.append(sorted(i))
print(sorted(new_l))

[[3, 3], [5, 10], [5, 10], [12, 15], [20, 30]]

In [ ]:
A = ['a','b','c','d']
B=[12,9,7,6]

import pandas as pd

pd.DataFrame(A,B).transpose()

  12 9  7  6
0  a  b  c  d

In [ ]:
Employee: [id, name, salary, manager_id, department]

with emp as (
select name, rank() over(partition by department order by salary desc) as sal_rank
from employees)

select name from emp
where sal_rank = 2